@media screen and (max-width: 812px) {

  .hero {
    &__subtitle {
      margin-bottom: 60px;
      width: 350px;
      font-size: 15px;
    }

    &__slider {
      display: none;
    }

    &__title {
      font-size: 50px;
      padding-top: 200px;
      margin-bottom: 50px;
      text-transform: uppercase;
    }
    &__button {
      padding: 14px 47px;
    }

    &__phone {
      display: block;
      border-bottom: 2px solid #d1a954;
      width: 120px;
      position: absolute;
      left: 225px;
      top: 56px;
    }
  }

  .header__phone {
    display: none;
  }
  .header__container {
    max-width: 100%;
    padding: 0 25px;
  }
  .header__body {
    position: fixed;
    height: 50px;
    overflow: auto;
  }
  .header__menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    background-color: #333333;
    padding: 140px 10px 20px 40px;
  }
  .header__menu_active {
    left: 0;
  }
  .header__burger {
    display: block;
    position: fixed;
    width: 30px;
    height: 30px;
    z-index: 3;
    top: 60px;
    
    span {
      background-color:  #FFFFFF;;
      position: absolute;
      width: 100%;
      height: 2.5px;
      left: 0;
      top: 15px;
    }
  }
  .header__list {
    display: block;
    li {
      margin: 0 0 50px 0;
    }
  }
  .header__burger::before,
  .header__burger::after {
    content: " ";
    background-color:  #FFFFFF;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s;
  }

  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger_active {
    margin-left: 225px;
  }
  .header__burger span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .header__burger_active {
    span {
      transform: scale(0) translate(0px, -50%);
    }
  }
  .header__burger_active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .header__burger_active::after{
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .menu__link {
    max-width: 50%;
    margin-bottom: 70px;
    font-size: 20px;
  }
  .menu-social {
    display: block;
    flex-wrap: wrap;
    margin-top: 10px;

    &__icons {
      margin: 0 30px;
      img {
        padding-top: 60px;
      }
    }
  }


  .container {
    padding: 0 20px;
  }
  .fixed-panel {
    display: none;
  }

  .col-5,
  .col-3 {
    width: 100%;
  }

  .about {
    margin-top: 80px;
    &__title {
      text-align: center;
      font-size: 20px;
    }
    &__img {
      display: none;
    }
    &__number {
      margin: 40px 0;
      text-align: center;
      font-size: 20px;
      &-text {
        padding: 15px;
      }
      &-item {
        padding: 20px 0;
      }
    }
  }

  .text-center {
    margin-bottom: 50px;
    h2 {
      font-size: 45px;
    }
  }

  .projects {
    margin-top: 20px;
    &__title {
      text-align: center;
      font-size: 45px;
      margin-bottom: 60px;
    }
    &-slider {
      padding-left: 20px;
    }
    &-slider__but {
      padding: 25px;
    }
  }
  .swiper-projects {
    flex: 0 0 350px;
    height: 450px;
  }

  .raiting {
    margin-top: 80px;
    &__container {
      padding: 0;
    }
    &__row {
      padding: 60px 0;
    }
    &__years {
      h2 {
        width: 50%;
        font-size: 50px;
        line-height: 65px;
        color: #d1a954;
      }
    }

    &__content p {
      width: 200px;
      height: 121px;
      font-size: 15px;
      line-height: 25px;
      margin-right: 20px;
    }
    &__stars {
      padding-top: 85px;
      width: 22px;
      height: 24px;
      margin-top: 0;
      margin-left: 50px;
    }

    &__img {
      margin-top: -45px;
      width: 10px;
      height: 5px;
    }
  }

  .partners {
    margin-top: 80px;
    h2 {
      font-size: 45px;
      margin-bottom: 60px;
    }

    &__item {
      width: 50%;
      padding-left: 8px;
      margin-bottom: 50px;
      img {
        width: 145px;
      }
    }
  }

  .contacts {
    margin-top: 40px;
    &__container {
      max-width: 375px;
      h2 {
        font-size: 45px;
        margin-bottom: 50px;
      }
    }

    &-nav {
      order: 1;
      margin-top: 30px;
      &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      &__item {
        p {
          font-size: 14px;
          text-align: center;
          color: white;
        }
        &:last-child {
          width: 130px;
        }
      }
    }

    .form-input {
      width: 310px;
      height: 40px;
      margin-left: 12px;
    }
    .contacts-info {
      width: 100%;
      &__title {
        margin: 10px;
        width: 318px;
        text-align: center;
      }
    }

    &-messange {
      &__sms {
        margin-left: 12px;
      }
      &__button {
        width: 190px;
        height: 50px;
        padding: 0px 43px;
        padding-top: -30px;
        margin-left: 75px;
      }
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    &__text {
      width: 190px;
      padding: 0 10px 10px;
    }
  }
}

@media (min-width: 800px)  and (max-width: 1350px) {
  .hero__slider {
    display: none;
  }
  .header__phone {
    display: none;
  }
  .hero__phone {
    display: block;
    border-bottom: 2px solid #d1a954;
    width: 120px;
    position: relative;
    left: 500px;
    top: 150px;
  }
  .fixed-panel {
    display: none;
  }
  .header {
   position: absolute;
   left: 130px;
  }
  .hero__content {
    position: absolute;
    left: 300px;
    top: 0px;
    transition: 0.8s;
  }
}
