@media screen and (max-width: 812px) {
  .container {
    padding: 0 20px;
  }
  .fixed-panel {
    display: none;
  }
  .col-5,
  .col-3 {
    width: 100%;
  }

  .hero__slider {
    display: none;
  }

  .about {
    margin-top: 80px;
    &__title {
      text-align: center;
      font-size: 20px;
    }
    &__img {
      display: none;
    }
    &__number {
      margin: 40px 0;
      text-align: center;
      font-size: 20px;
      &-text {
        padding: 15px;
      }
      &-item {
        padding: 20px 0;
      }
    }
  }
  .text-center {
    margin-bottom: 50px;
    h2 {
      font-size: 45px;
    }
  }

  .projects {
    margin-top: 20px;
    &__title {
      text-align: center;
      font-size: 45px;
      margin-bottom: 60px;
    }
    &-slider {
      padding-left: 20px;
    }
    &-slider__but {
      padding: 25px;
    }
  }
  .swiper-projects {
    flex: 0 0 350px;
    height: 450px;
  }

  .raiting {
    margin-top: 80px;
    &__container {
      padding: 0;
    }
    &__row {
      padding: 60px 0;
    }
    &__years h2 {
      width: 50%;
      font-size: 50px;
      line-height: 65px;
    }

    &__content p {
      width: 200px;
      height: 121px;
      font-size: 15px;
      line-height: 25px;
      margin-right: 20px;
    }
    &__stars {
      padding-top: 85px;
      width: 22px;
      height: 24px;
      margin-top: 0;
      margin-left: 50px;
    }

    &__img {
      margin-top: -45px;
      width: 10px;
      height: 5px;
    }
  }

  .partners {
    margin-top: 80px;
    h2 {
      font-size: 45px;
      margin-bottom: 60px;
    }

    &__item {
      width: 50%;
      padding-left: 8px;
      margin-bottom: 50px;
      img {
        width: 145px;
      }
    }
  }

  .contacts {
    margin-top: 40px;
    &__container {
      max-width: 375px;
      h2 {
        font-size: 45px;
        margin-bottom: 50px;
      }
    }

    &-nav {
      order: 1;
      margin-top: 30px;
      &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      &__item {
        p {
          font-size: 14px;
          text-align: center;
        }
        &:last-child {
          width: 130px;
        }
      }
    }

    .form-input {
      width: 310px;
      height: 40px;
      margin-left: 12px;
    }
    .contacts-info {
      width: 100%;
      &__title {
        margin: 10px;
        width: 318px;
        text-align: center;
      }
    }

    &-messange {
      &__sms {
        margin-left: 12px;
      }
      &__button {
        width: 190px;
        height: 50px;
        padding: 0px 43px;
        padding-top: -30px;
        margin-left: 75px;
      }
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    &__text {
      width: 190px;
      padding: 0 10px 10px;
    }
  }
}
